services:
  homepage:
    image: ghcr.io/gethomepage/homepage:{{ homepage_container_version }}
    container_name: {{ homepage_container_name }}
    ports:
      - {{ homepage_admin_port }}:3000
    volumes:
      - {{ docker_stacks_directory }}/homepage/config:/app/config
    environment:
      PUID: {{ homepage_uid }}
      PGID: {{ homepage_gid }}
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_domain_name }}
    tty: true
    stdin_open: true
    restart: unless-stopped
