services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER={{ gluetun_openvpn_username }}
      - OPENVPN_PASSWORD={{ gluetun_openvpn_password }}
      - TZ={{ time_zone }}
      - SERVER_COUNTRIES=Canada
      - UPDATER_PERIOD=24h
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - gluetun:/gluetun
    ports:
      - 6881:6881     # qbittorrent torrents
      - 6881:6881/udp # qbittorrent torrents
      - 8080:8080     # qbittorrent web
      - 9696:9696     # prowlarr
      - 8989:8989     # sonarr
      - 7878:7878     # radarr
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: container:gluetun
    environment:
      - PUID={{ qbittorrent_uid }}
      - PGID={{ qbittorrent_gid }}
      - TZ={{ time_zone }}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent:/config
      - truenas_downloads:/downloads
    restart: unless-stopped
  
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: container:gluetun
    environment:
      - PUID={{ prowlarr_uid }}
      - PGID={{ prowlarr_gid }}
      - TZ={{ time_zone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - prowlarr:/config
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    network_mode: container:gluetun
    environment:
      - PUID={{ sonarr_uid }}
      - PGID={{ sonarr_gid }}
      - TZ={{ time_zone }}    
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - sonarr:/config
      - truenas_tv:/tv 
      - truenas_downloads:/downloads

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    network_mode: container:gluetun
    environment:
      - PUID={{ radarr_uid }}
      - PGID={{ radarr_gid }}
      - TZ={{ time_zone }}    
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - radarr:/config
      - truenas_movies:/movies 
      - truenas_downloads:/downloads

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: container:gluetun
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ={{ time_zone }}
    restart: unless-stopped 

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID={{ plex_uid }}
      - PGID={{ plex_gid }}
      - TZ={{ time_zone}}
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim_token }}
    volumes:
      - plex:/config
      - truenas_tv:/tv
      - truenas_movies:/movies
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    restart: unless-stopped

volumes:
  gluetun:
  qbittorrent:
  prowlarr:
  sonarr:
  radarr:
  plex:
  truenas_tv:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/tv"
  
  truenas_downloads:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/downloads"
  
  truenas_movies:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/movies"
