services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    hostname: gluetun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER={{ servarr_openvpn_username }}
      - OPENVPN_PASSWORD={{ servarr_openvpn_password }}
      - TZ={{ time_zone }}
      - SERVER_COUNTRIES=Canada
      - UPDATER_PERIOD=24h
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - gluetun:/gluetun
    ports:
      - 6881:6881     # qbittorrent torrents
      - 6881:6881/udp # qbittorrent torrents
      - 8080:8080     # qbittorrent web
      - 9696:9696     # prowlarr
      - 8989:8989     # sonarr
      - 7878:7878     # radarr
      - 6767:6767     # bazarr
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: container:gluetun
    environment:
      - PUID={{ qbittorrent_uid }}
      - PGID={{ qbittorrent_gid }}
      - TZ={{ time_zone }}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent:/config
      - downloads:/downloads
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    labels:
        - homepage.group=Servarr
        - homepage.name=qBittorrent
        - homepage.icon=qbittorrent.png
        - homepage.href={{ servarr_qbittorrent_url }}
        - homepage.siteMonitor={{ servarr_qbittorrent_url }}
        - homepage.description=Torrent Client
        - homepage.widget.type=qbittorrent
        - homepage.widget.url={{ servarr_qbittorrent_url }}
        - homepage.widget.username={{ servarr_qbittorrent_username }}
        - homepage.widget.password={{ servarr_qbittorrent_password }}

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: container:gluetun
    environment:
      - PUID={{ prowlarr_uid }}
      - PGID={{ prowlarr_gid }}
      - TZ={{ time_zone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - prowlarr:/config
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    labels:
        - homepage.group=Servarr
        - homepage.name=Prowlarr
        - homepage.icon=prowlarr.png
        - homepage.href={{ servarr_prowlarr_url }}
        - homepage.siteMonitor={{ servarr_prowlarr_url }}
        - homepage.description=Torrent Indexer
        - homepage.widget.type=prowlarr
        - homepage.widget.url={{ servarr_prowlarr_url }}
        - homepage.widget.key={{ servarr_prowlarr_token }}
        - homepage.widget.enableQueue=true

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    network_mode: container:gluetun
    environment:
      - PUID={{ sonarr_uid }}
      - PGID={{ sonarr_gid }}
      - TZ={{ time_zone }}    
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - sonarr:/config
      - tv:/tv 
      - downloads:/downloads
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    labels:
        - homepage.group=Servarr
        - homepage.name=Sonarr
        - homepage.icon=sonarr.png
        - homepage.href={{ servarr_sonarr_url }}
        - homepage.siteMonitor={{ servarr_sonarr_url }}
        - homepage.description=Movies Monitoring
        - homepage.widget.type=sonarr
        - homepage.widget.url={{ servarr_sonarr_url }}
        - homepage.widget.key={{ servarr_sonarr_token }}
        - homepage.widget.enableQueue=true

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    network_mode: container:gluetun
    environment:
      - PUID={{ radarr_uid }}
      - PGID={{ radarr_gid }}
      - TZ={{ time_zone }}    
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - radarr:/config
      - movies:/movies 
      - downloads:/downloads
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    labels:
        - homepage.group=Servarr
        - homepage.name=Radarr
        - homepage.icon=radarr.png
        - homepage.href={{ servarr_radarr_url }}
        - homepage.siteMonitor={{ servarr_radarr_url }}
        - homepage.description=Series Monitoring
        - homepage.widget.type=radarr
        - homepage.widget.url={{ servarr_radarr_url }}
        - homepage.widget.key={{ servarr_radarr_token }}
        - homepage.widget.enableQueue=true

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: container:gluetun
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ={{ time_zone }}
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    network_mode: container:gluetun
    environment:
      - PUID={{ bazarr_uid }}
      - PGID={{ bazarr_gid }}
      - TZ={{ time_zone }}   
    volumes:
      - bazarr:/config
      - tv:/tv
      - movies:/movies
    restart: unless-stopped
    labels:
        - homepage.group=Servarr
        - homepage.name=Bazarr
        - homepage.icon=bazarr.png
        - homepage.href={{ servarr_bazarr_url }}
        - homepage.siteMonitor={{ servarr_bazarr_url }}
        - homepage.description=Subtitles Monitoring
        - homepage.widget.type=bazarr
        - homepage.widget.url={{ servarr_bazarr_url }}
        - homepage.widget.key={{ servarr_bazarr_token }}
        - homepage.widget.enableQueue=true

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    hostname: plex
    environment:
      - PUID={{ plex_uid }}
      - PGID={{ plex_gid }}
      - TZ={{ time_zone}}
      - VERSION=docker
      - PLEX_CLAIM={{ servarr_plex_claim_token }}
    volumes:
      - plex:/config
      - tv:/tv
      - movies:/movies
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    restart: unless-stopped
    labels:
        - homepage.group=Services
        - homepage.name=Plex
        - homepage.icon=plex.png
        - homepage.href={{ servarr_plex_url }}
        - homepage.siteMonitor={{ servarr_plex_url }}
        - homepage.description=Media Server
        - homepage.widget.type=plex
        - homepage.widget.url={{ servarr_plex_url }}
        - homepage.widget.key={{ servarr_plex_token }}

volumes:
  gluetun:
  qbittorrent:
  prowlarr:
  sonarr:
  radarr:
  bazarr:
  plex:
  tv: {{ servarr_tv_volume}}
  downloads: {{ servarr_downloads_volume}}
  movies: {{ servarr_movies_volume }}
