services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER={{ gluetun_openvpn_username }}
      - OPENVPN_PASSWORD={{ gluetun_openvpn_password }}
      - TZ={{ time_zone }}
      - SERVER_COUNTRIES=Canada
      - UPDATER_PERIOD=24h
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - gluetun:/gluetun
    ports:
      - 6881:6881     # qbittorrent
      - 6881:6881/udp # qbittorrent
      - 8080:8080     # qbittorrent web
      - 8989:8989     # sonarr
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: container:gluetun
    environment:
      - PUID={{ qbittorrent_uid }}
      - PGID={{ qbittorrent_gid }}
      - TZ={{ time_zone }}
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent:/config
      - truenas_downloads:/downloads
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
  
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID={{ plex_uid }}
      - PGID={{ plex_gid }}
      - TZ={{ time_zone}}
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim_token }}
    volumes:
      - plex:/config
      - truenas_tv:/tv
      - truenas_movies:/movies
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    restart: unless-stopped

volumes:
  gluetun:
  qbittorrent:
  sonarr:
  plex:
  truenas_tv:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/tv"
  
  truenas_downloads:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/downloads"
  
  truenas_movies:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=4,addr=10.0.17.55,nolock,soft,rw"
      device: ":/mnt/data/media/movies"
