---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

{% for host in groups['docker'] %}
{{ host | split('.') | first }}:
  host: {{ host }}
  port: {{ homepage_docker_port }}
{% endfor %}
