---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/docker/

{% for host in groups['docker'] %}
{{ host | split('.') | first }}:
  host: {{ host }}
  port: {{ homepage_docker_port }}
{% endfor %}
