---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Hypervisors:
{% for host in groups['pve'] %}
    - {{ host | split('.') | first }}:
        icon: proxmox.png
        href: {{ homepage_proxmox_url }}
        siteMonitor: https://{{ host }}:{{ homepage_proxmox_port}}
        description: Proxmox Virtual Environment
        widget:
            type: proxmox
            url: {{ homepage_proxmox_url }}
            username: {{ homepage_proxmox_username }}
            password: {{ homepage_proxmox_token}}
            node: {{ host | split('.') | first }}
{% endfor %}

- Containers:
{% for host in homepage_portainer_endpoints %}
    - Portainer ({{ host.Name }}):
        icon: portainer-alt.png
        href: {{ homepage_portainer_url }}
        siteMonitor: {{ homepage_portainer_url}}
        description: Portainer Environment
        widget:
            type: portainer
            url: {{ homepage_portainer_url }}
            key: {{ homepage_portainer_token }}
            env: {{ host.Id }}
{% endfor %}

- Storage:
    - TrueNAS:
        icon: truenas.png
        href: {{ homepage_truenas_url }}
        description: Storage and Shares
        widget:
            type: truenas
            url: {{ homepage_truenas_url }}
            key: {{ homepage_truenas_token }}
            enablePools: true
            nasType: core