---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings

providers:
  openweathermap: {{ hompage_openweathermap_token }}

layout:
  Proxmox:
    style: row
    columns: 5
  Docker:
    style: row
    columns: 3

theme: dark
color: slate
