---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings

providers:
  openweathermap: {{ hompage_openweathermap_token }}

cardBlur: md
theme: dark
color: slate

layout:
  - Docker:
      style: row
      columns: {{ [homepage_portainer_endpoints | length, homepage_max_columns] | min }}
  - Proxmox:
      style: row
      columns: {{ [groups['pve'] | length, homepage_max_columns] | min }}
  - Services:
  - Servarr:
  - Storage:
