---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/service-widgets

- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: duckduckgo
    target: _blank

- openweathermap:
    label: Calgary
    latitude: 51.0501
    longitude: -114.0853
    units: metric
    provider: openweathermap
    cache: 5
    format:
      maximumFractionDigits: 1
