- name: Create pihole group
  become: true
  ansible.builtin.group:
    name: pihole
    state: present

- name: Create pihole user
  become: true
  ansible.builtin.user:
    name: pihole
    shell: /bin/bash
    group: pihole
    state: present

- name: Get user details
  ansible.builtin.getent:
    database: passwd
    key: pihole

- name: Get group details
  getent:
    database: group
    key: pihole

- name: Set user and group id
  set_fact:
    pihole_uid: "{{ ansible_facts.getent_passwd.pihole.1 }}"
    pihole_gid: "{{ ansible_facts.getent_group.pihole.1 }}"

- name: Ensure project directory exists
  become: true
  file:
    path: "{{ docker_stacks_directory }}/pihole/"
    owner: pihole
    group: pihole
    mode: "750"
    state: directory

- name: Copy docker compose to project directory
  become: true
  template:
    src: docker-compose.yml.j2
    dest: "{{ docker_stacks_directory }}/pihole/docker-compose.yml"
    owner: pihole
    group: pihole
    mode: "750"

- name: Run docker compose
  become: true
  community.docker.docker_compose_v2:
    project_src: "{{ docker_stacks_directory }}/pihole"
    state: present
  register: output

- name: Template custom.list for local DNS entries
  become: true
  template:
    src: custom.list.j2
    dest: /var/lib/docker/volumes/{{ pihole_container_name }}_data/_data/custom.list
    mode: '644'
    owner: pihole
    group: pihole
  notify: Restart pihole