services:
  minecraft:
    container_name: "{{ minecraft_container_name }}"
    image: "itzg/minecraft-server:{{ minecraft_container_version }}"
    tty: true
    stdin_open: true
    ports:
      - "{{ minecraft_port }}:25565"
    environment:
      EULA: true
      ALLOW_FLIGHT: true
      OVERRIDE_ICON: true
      OVERRIDE_OPS: true
      OVERRIDE_WHITELIST: true
      TZ: "{{ time_zone }}"
      UID: "{{ minecraft_uid | string }}"
      GID: "{{ minecraft_gid | string }}"
      MEMORY: "{{ minecraft_memory_gb | string }}G"
      DIFFICULTY: "{{ minecraft_difficulty }}"
      OPS: "{{ minecraft_ops | join(',') }}"
      ENABLE_WHITELIST: "{{ minecraft_whitelist_enabled }}"
      WHITELIST: "{{ minecraft_whitelist | join(',') }}"
      ICON: "{{ minecraft_icon }}"
      TYPE: "{{ minecraft_type }}"
      CF_API_KEY: "{{ minecraft_cf_api_key | replace('$', '$$') }}"
      CF_PAGE_URL: "{{ minecraft_cf_modpack_url }}"
    volumes:
      - data:/data
    restart: unless-stopped

volumes: 
  "{{ minecraft_container_name }}_data":
