services:
  proxy:
    container_name: "{{ minecraft_stack_name}}_proxy"
    image: "itzg/mc-proxy:{{ minecraft_proxy_version | default('latest') }}"
    tty: true
    stdin_open: true
    ports:
      - "{{ minecraft_proxy_port }}:25577"
    environment:
      TYPE: "VELOCITY"
      DEBUG: "true"
      ENABLE_RCON: "true"
    volumes:
      - "proxy:/server"
      - "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/velocity.toml:/config/velocity.toml:ro"
      - "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/forwarding.secret:/config/forwarding.secret:ro"
    depends_on:
{% for name, server in minecraft_servers.items() %}
      - {{ name }}
{% endfor %}
    restart: unless-stopped

{% for name, server in minecraft_servers.items() %}
  {{ name }}:
    container_name: "{{ minecraft_stack_name}}_{{ name }}"
    image: "itzg/minecraft-server:{{ server.version | default('latest') }}"
    tty: true
    stdin_open: true
    ports:
      - "{{ server.port }}:25565"
    environment:
      EULA: true
      ALLOW_FLIGHT: true
      ONLINE_MODE: false
      TZ: "{{ time_zone }}"
      UID: "{{ minecraft_uid }}"
      GID: "{{ minecraft_gid }}"
      MEMORY: "{{ server.memory | default('8G') }}"
      TYPE: "{{ server.type | default('VANILLA') }}"
      DIFFICULTY: "{{ server.difficulty | default('normal') }}"
{% if server.icon is defined %}
      OVERRIDE_ICON: true
      ICON: "{{ server.icon }}"
{% endif %}
{% if server.ops is defined %}
      OPS: "{{ server.ops | join(',') }}"
{% endif %}
{% if server.whitelist is defined %}
      ENABLE_WHITELIST: true
      WHITELIST: "{{ server.whitelist | join(',') }}"
{% endif %}
{% if server.cf_api_key is defined %}
      CF_API_KEY: "{{ server.cf_api_key | replace('$', '$$') }}"
{% endif %}
{% if server.cf_page_url is defined %}
      CF_PAGE_URL: "{{ server.cf_page_url }}"
{% endif %}
    volumes:
      - "{{ name }}:/data"
{% if server.type == "PAPER" %}
      - "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/paper-global.yml:/config/paper-global.yml"
{% endif %}
    restart: unless-stopped
{% endfor %}

volumes:
  proxy:
{% for name, server in minecraft_servers.items() %}
  {{ name }}:
{% endfor %}