#The forwarding secret is used to authenticate with your Velocity proxy.
#Configuration for the forwarding secret:
#  - IN_LINE: Use the secret value directly.
#  - FILE   : Load secret from a UTF-8 encoded file, value is a path relative to run directory.
[forwarding]
        forwarding-secret = "{{ minecraft_proxy_forawrding_secret }}"
        #Allowed Values: IN_LINE, FILE
        forwarding-secret-type = "IN_LINE"

[compatibility]
        #Configuration for login-custom-packet-catchall:
        #  - true : NeoVelocity will treat all login packets as proxy authentication packets (recommended).
        #  - false: Only packets signed with your secret are considered proxy authentication packets.
        #           This allows unconventional login‑phase mods to work, but if your secret is wrong,
        #           the server won’t show a clear error.
        #If you see `Took too long to log in` errors, try setting it to `false` to see if it fixes the issue.
        login-custom-packet-catchall = false