services:
  pihole:
    container_name: {{ pihole_container_name }}
    image: pihole/pihole:{{ pihole_container_version }}
    ports:
      - "53:53"
      - "53:53/udp"
      - "{{ pihole_admin_port }}:80"
    environment:
      TZ: {{ time_zone }}
      PIHOLE_DNS_: {{ pihole_upstream_dns | join(";") }}
      WEBPASSWORD: {{ pihole_admin_password }}
      PIHOLE_UID: {{ pihole_uid }}
      PIHOLE_GID: {{ pihole_gid }}
      FTLCONF_LOCAL_IPV4: "{{ ansible_default_ipv4.address }}"
    volumes:
      - data:/etc/pihole
      - dnsmasq:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    dns: {{ pihole_upstream_dns }}
    restart: unless-stopped

volumes:
  data:
  dnsmasq: