- name: Create minecraft group
  become: true
  ansible.builtin.group:
    name: minecraft
    state: present

- name: Create minecraft user
  become: true
  ansible.builtin.user:
    name: minecraft
    group: minecraft
    state: present

- name: Get user details
  ansible.builtin.getent:
    database: passwd
    key: minecraft

- name: Get group details
  getent:
    database: group
    key: minecraft

- name: Set user and group id
  set_fact:
    minecraft_uid: "{{ ansible_facts.getent_passwd.minecraft.1 }}"
    minecraft_gid: "{{ ansible_facts.getent_group.minecraft.1 }}"

- name: Ensure stack directory {{ docker_stacks_directory }}/{{ minecraft_stack_name }} exists 
  become: true
  file:
    path: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}"
    state: directory
    owner: minecraft
    group: minecraft
    mode: "750"

- name: Ensure config directory exists
  become: true
  file:
    path: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config"
    state: directory
    owner: minecraft
    group: minecraft
    mode: "750"

- name: Template {{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/velocity.toml
  become: true
  template:
    src: velocity.toml.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/velocity.toml"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Template {{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/forwarding.secret
  become: true
  template:
    src: forwarding.secret.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/forwarding.secret"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Template {{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/paper-global.yml
  become: true
  template:
    src: paper-global.yml.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/paper-global.yml"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Template {{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/neovelocity-common.toml.yml
  become: true
  template:
    src: neovelocity-common.toml.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/config/neovelocity-common.toml"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Ensure mods directory exists
  become: true
  file:
    path: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/mods"
    state: directory
    owner: minecraft
    group: minecraft
    mode: "750"

- name: Copy Neovelocity mod jar
  become: true
  copy:
    src: "mods/neovelocity-neoforge-1.2.4.jar"
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/mods/neovelocity-neoforge-1.2.4.jar"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Copy docker compose to project directory
  become: true
  template:
    src: docker-compose.yml.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/docker-compose.yml"
    owner: minecraft
    group: minecraft
    mode: "640"

- name: Run docker compose
  become: true
  community.docker.docker_compose_v2:
    project_src: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}"
    state: present
  register: output
