- name: Create minecraft group
  become: true
  ansible.builtin.group:
    name: minecraft
    gid: "{{ minecraft_gid }}"
    state: present

- name: Create minecraft user
  become: true
  ansible.builtin.user:
    name: minecraft
    uid: "{{ minecraft_uid }}"
    group: minecraft
    state: present

- name: Run docker compose
  become: true
  community.docker.docker_compose_v2:
    project_name: "{{ minecraft_stack_name }}"
    definition: "{{ minecraft_stack }}"
    state: present
  register: output
