- name: Create minecraft group
  become: true
  ansible.builtin.group:
    name: minecraft
    state: present

- name: Create minecraft user
  become: true
  ansible.builtin.user:
    name: minecraft
    shell: /bin/bash
    group: minecraft
    state: present

- name: Get user details
  ansible.builtin.getent:
    database: passwd
    key: minecraft

- name: Get group details
  getent:
    database: group
    key: minecraft

- name: Set user and group id
  set_fact:
    minecraft_uid: "{{ ansible_facts.getent_passwd.minecraft.1 }}"
    minecraft_gid: "{{ ansible_facts.getent_group.minecraft.1 }}"

- name: Ensure project directory exists
  become: true
  file:
    path: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}"
    owner: minecraft
    group: minecraft
    mode: "750"
    state: directory

- name: Copy docker compose to project directory
  become: true
  template:
    src: docker-compose.yml.j2
    dest: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}/docker-compose.yml"
    owner: minecraft
    group: minecraft
    mode: "750"

- name: Run docker compose
  become: true
  community.docker.docker_compose_v2:
    project_src: "{{ docker_stacks_directory }}/{{ minecraft_stack_name }}"
    state: present
  register: output
