services:
  openvpn:
    container_name: {{ openvpn_container_name }}
    image: alekslitvinenk/openvpn:{{ openvpn_version }}
    ports:
      - "{{ openvpn_tunnel_port }}:1194/udp"
      - "{{ openvpn_config_port }}:8080"
    volumes:
      - data:/opt/Dockovpn_data
    environment:
      HOST_CONF_PORT: {{ openvpn_config_port }}
    cap_add:
      - NET_ADMIN
    stdin_open: true
    tty: true       
    restart: unless-stopped

volumes:
  data: